<div class="row">
  <button
    typ="button"
    class="btn btn-primary dropdown-toggle">
    Edit Profile<span class="caret"></span>
  </button>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBPRqn1hlpfUhwWRZOMvC2Z76lu6m5ZBXoag&usqp=CAU"
      alt=""
      class="img-responsive">
  </div>
  <div class="col-xs-8">
    <div class="row">
      USERNAME
    </div>
    <div class="row">
      FIRST NAME LAST NAME
    </div>
  </div>
</div>
<div class="row">
  CREATED
</div>
<div class="row">
  MODIFIED
</div>
<div class="row">
  EMAIL
</div>
<div class="row">
  PHONE
</div>
<div class="row">
  WEB URL'S
</div>
<div class="row">
  ADDRESS, CITY, ZIPCODE, STATE, COUNTRY
</div>
