<div class="row">

  <div class="col-xs-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="{{user?.avatarUrl}}" alt="User" class="img-thumbnail" width="300">
          <div class="mt-3">
            <h3>{{user?.username}}</h3>
            <p class="text-secondary mb-1">Member since:</p>
            <p class="text-muted font-size-sm">{{user?.createDate | date: 'mediumDate' }}</p>
            <button class="btn btn-primary">Edit profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-8" style="margin: auto">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Full Name</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ user?.firstName}} {{user?.lastName}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Email</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ userContactInformation?.email }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Phone</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ userContactInformation?.phoneNumber }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Address</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ userContactInformation?.address?.address }}, {{ userContactInformation?.address?.zipCode }}
            {{ userContactInformation?.address?.city }} ({{ userContactInformation?.address?.state }}),
            {{ userContactInformation?.address?.country }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Websites</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            <ul class="list-group">
              <li
                *ngFor="let url of userContactInformation?.websitesURLs"
                class="list-group-item "
                style="border: none"
              ><a href='http://{{url}}'>{{ url }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<p class="text-muted"><small># add user recent post, add user recent comment, add user groups #</small></p>
