<hr>
<div class="row center" id="targetEditForm">
  <div class="col-xs-12">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
        >
        <span
          *ngIf="!editProfileForm.get('firstName').valid && editProfileForm.get('firstName').touched"
          class="help-block"
        >First name is required.</span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          formControlName="lastName"
        >
        <span
          *ngIf="!editProfileForm.get('firstName').valid && editProfileForm.get('firstName').touched"
          class="help-block"
        >Last name is required.</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="e.g. example@mail.com"
        >
        <span
          *ngIf="!editProfileForm.get('email').valid && editProfileForm.get('email').touched"
          class="help-block"
        >A valid email address consists of an email prefix and an email domain, separated by '@'.</span>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input
          type="text"
          id="phoneNumber"
          class="form-control"
          formControlName="phoneNumber"
          placeholder="e.g. 123-456-789"
        >
        <span
          *ngIf="!editProfileForm.get('phoneNumber').valid && editProfileForm.get('phoneNumber').touched"
          class="help-block"
        >The phone number must match the patterns: xxxxxxxxx or xxx-xxx-xxx.</span>
      </div>
      <div class="form-group">
        <label for="avatarUrl">Avatar URL</label>
        <input
          type="text"
          id="avatarUrl"
          class="form-control"
          formControlName="avatarUrl"
          #avatarUrl
        >
      </div>
      <div class="row" >
        <div class="col-xs-7">
          <img [src]="avatarUrl.value" class="img-responsive" style="margin-bottom: 15px">
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          id="address"
          class="form-control"
          formControlName="address"
        >
        <span
          *ngIf="!editProfileForm.get('address').valid && editProfileForm.get('address').touched"
          class="help-block"
        >Address is required.</span>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          id="city"
          class="form-control"
          formControlName="city"
        >
        <span
          *ngIf="!editProfileForm.get('city').valid && editProfileForm.get('city').touched"
          class="help-block"
        >City name should be at least 2 characters long.</span>
      </div>
      <div class="form-group">
        <label for="zipCode">Zip code</label>
        <input
          type="text"
          id="zipCode"
          class="form-control"
          formControlName="zipCode"
        >
        <span
          *ngIf="!editProfileForm.get('zipCode').valid && editProfileForm.get('zipCode').touched"
          class="help-block"
        >Zip code is required.</span>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input
          type="text"
          id="state"
          class="form-control"
          formControlName="state"
        >
        <span
          *ngIf="!editProfileForm.get('state').valid && editProfileForm.get('state').touched"
          class="help-block"
        >State name should be at least 2 characters long.</span>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input
          type="text"
          id="country"
          class="form-control"
          formControlName="country"
        >
        <span
          *ngIf="!editProfileForm.get('country').valid && editProfileForm.get('country').touched"
          class="help-block"
        >Country name should be at least 2 characters long.</span>
      </div>
      <label style="margin-bottom: 10px">Websites</label>
      {{' '}}
      <button type="button" class="btn btn-default btn-xs" (click)="addWebsiteURL()">+</button>
      <div formArrayName="websitesURLs"
           *ngFor="let url of editProfileForm.get('websitesURLs')['controls']; let i = index;">
        <div [formGroupName]="i" class="form-group">
          <div style="display: flex">
            <input
              type="text"
              formControlName="websiteURL"
              class="form-control"
              style="margin-right: 9px"
            >{{' '}}
            <button type="button" class="btn btn-danger" (click)="removeWebsiteURL(i)"><strong>-</strong></button>
          </div>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-success" [disabled]="!editProfileForm.valid">Save</button>
        |
        <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
