<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Post<span class="caret" style="margin-left: 3px"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditPost()">Edit Post</a></li>
        <li><a style="cursor: pointer;" (click)="onDeletePost()">Delete Post</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class=" list-unstyled" style="display: flex;">
      <li *ngFor="let label of post.postLabels" style="width: 100%; padding: 5px; ">
        <span id="post-label" class="label label-info" >{{label}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Author: {{post.authorId}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <i>Create: {{post.createDate}} </i>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <i>Modified: {{post.lastModifiedDate}}</i>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <div class="card" style="margin-bottom: 5px">
      <h4 style="margin-bottom: 30px">{{post.text}}</h4>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{post.postThumbUpCount}}
      </button>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <app-comments
      [postId]="id"
    ></app-comments>
  </div>
</div>
