<div class="row" *ngIf="group.creatorId == loggedUserId">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
      >
        Manage Group<span class="caret" style="margin-left: 3px"></span>
      </button>
      <ul class="dropdown-menu" appDropdown>
        <li><a style="cursor: pointer;" (click)="onEditGroup()">Edit Group</a></li>
        <li><a style="cursor: pointer;" (click)="onDeletePost()">Delete Group (admin only)</a></li>
      </ul>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        <p style="font-size: 30px"><strong>{{group.name}}</strong></p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Created</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ group.createDate | date:'longDate'}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Modified</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ group.lastModifiedDate | date:'longDate'}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Access level</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ group.accessLevel }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Description</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ group.description }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0"><strong>Creator</strong></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ creatorUsername }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="{{group.avatarUrl}}" alt="User" class="img-thumbnail" width="300">
        </div>
      </div>
    </div>
  </div>
</div>
