<div class="row">
  <div class="col-xs-12">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle">
      Manage Group<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Edit Group</a></li>
      <li><a href="#">Delete Group</a></li>
    </ul>
  </div>
</div>
<div class="col-xs-8">
  <div class="row">
    <div class="col-xs-12">
      <h4>ID: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <h1>Name: </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Access level
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Create
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Modified
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Description
    </div>
  </div>
</div>
<div class="col-xs-4">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqy0HRIWeom9LxYBWpYIazrY8RHZyaviyK6Q&usqp=CAU"
    alt=""
    class="img-responsive">
</div>
[TODO: group posts -> group posts-list -> add group posts]
