<div class="row">
  <div class="col-xs-12">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle">
      Manage Post<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Edit Post</a></li>
      <li><a href="#">Delete Post</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>ID: </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Author: </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Create
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Modified
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    LABELS
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Thumb up count
  </div>
</div>
[TODO: comments -> comment-list -> add comment]
