<a
  style="cursor: pointer; margin: 8px"
  (click)="onSelectPost()"
  routerLinkActive="active-post"
  class="list-group-item clearfix rcorners">
  <div class="media">
    <div class="media-left">
      <img src="{{user?.avatarUrl}}" class="media-object img-circle"
           style="width:90px">
    </div>
    <div class="media-body">
      <div
        *ngFor="let label of post.postLabels"
        style="display: inline-flex; color: indianred; font-weight: bold; padding-right: 0.7rem; font-size: 10px">
        <i class="media-heading"
        >{{label}}</i>
      </div>
      <h4 class="media-heading">{{user?.username}}</h4>
      <small><i>Posted {{post.createDate | dateAgo }}</i></small>
      <p style="font-size: 16px; margin-top: 8px">{{post.text | shorten: 40}}</p>
    </div>
    <div class="media-right">
      <div style="padding-top: 60px; display: inline-flex">
        <i
          class="glyphicon glyphicon-thumbs-up"
          aria-hidden="true"
          style="font-size: 15px; padding-right: 0.5rem;"
        ></i><span> {{post.postThumbUpCount}}</span>
      </div>
    </div>
  </div>
</a>
