<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!groupForm.valid">Save</button>{{' '}}
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            >
            <span
              *ngIf="!groupForm.get('name').valid && groupForm.get('name').touched"
              class="help-block"
            >Group name must be equal or greater than 3 and less than 48 characters.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              rows="2"
              formControlName="description"
              placeholder="Some information about the group..."
            ></textarea>
            <span
              *ngIf="!groupForm.get('description').valid && groupForm.get('description').touched"
              class="help-block"
            >Group description is required.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="avatarUrl">Avatar URL</label>
            <input
              type="text"
              id="avatarUrl"
              class="form-control"
              formControlName="avatarUrl"
              #avatarUrl
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <img [src]="avatarUrl.value" class="img-responsive">
        </div>
      </div>
      <label>Access level</label>
      <div class="radio" *ngFor="let accessLevel of accessLevels">
        <label>
          <input
            type="radio"
            id="accessLevel"
            formControlName="accessLevel"
            [value]="accessLevel">{{ accessLevel }}
        </label>
      </div>
    </form>
  </div>
</div>
