<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Save</button> |
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="text">Post text</label>
            <textarea
              type="text"
              placeholder="What's your message to the world, {{currentUsername}}?"
              id="text"
              class="form-control"
              rows="3"
              formControlName="text"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="labels">Labels</label>
            <input
              type="text"
              id="labels"
              placeholder="Separate each with a comma"
              class="form-control"
              formControlName="labels"
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
