<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input 
                        type="text"
                        id="text"
                        class="form-control"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="labels">Labels</label>
                        <input 
                        type="text"
                        id="labels"
                        class="form-control"
                        >
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>